<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Добавить</title>
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1">Добавить книгу</h1>
    <div>
      <a th:href="@{/books}" class="btn btn-secondary">Вернуться</a>
    </div>
  </div>
  <div th:replace="~{fragments/forms::globalErrors('book')}" />
  <form th:action="${requestUri}" method="post">
    <div th:replace="~{fragments/forms::inputRow(object='book', field='name')}" />
    <div th:replace="~{fragments/forms::inputRow(object='book', field='author', type='select')}" />
    <input type="submit" value="Добавить" class="btn btn-primary mt-4" />
  </form>
</div>
</body>
</html>