<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Авторизация</title>
</head>
<body>
<h1>Авторизация</h1>

<form action="#" th:action="@{/login}" method="post">
  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required />
  </div>

  <div>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required />
  </div>

  <div>
    <button type="submit">Войти</button>
  </div>

  <div th:if="${param.error}" style="color: red;">Неправильное имя пользователя или пароль.</div>
</form>

<p>Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
</body>
</html>
